

<!--Menu ngang-->
<div class="main_menu_inner">

    <div class="menu">
        <nav>
            <ul>
                <li class="active"><a href="index.html">Trang chủ</a></li>
                <li><a href="about.html">Giới thiệu</a></li>
                <li><a href="shop.html">Cửa hàng</a></li>
                <li class="mega_parent">
                    <a href="#">Danh mục<i class="fa fa-angle-down"></i></a>
                    <ul class="mega_menu">
                        <li class="mega_item">
                            @*<a class="mega_title" href="#">Trái cây</a>*@
                            <ul>
                                <li><a href="shop.html">Hoa, trái cây</a></li>
                            </ul>
                        </li>
                        <li class="mega_item">
                            @*<a  href="#">Các loại hạt</a>*@
                            <ul>
                                <li><a href="wishlist.html">Các loại hạt</a></li>
                            </ul>
                        </li>
                        <li class="mega_item">
                            @*<a class="mega_title" href="#">Hải sản</a>*@
                            <ul>
                                <li><a href="about.html">Hải sản</a></li>
                            </ul>
                        </li>
                        <li class="mega_item">
                            @*<a class="mega_title" href="#">Hải sản</a>*@
                            <ul>
                                <li><a href="about.html">Sản phẩm từ gỗ</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="blog.html">Bài viết</a></li>
                @*<li><a href="#">Trợ giúp</a></li>*@
            </ul>
        </nav>
    </div>

    <div class="mobile-menu d-lg-none">
        <nav>
            <ul>
                <li class="active">
                    <a href="index.html">Trang chủ</a>
                </li>
                <li><a href="about.html">Giới thiệu</a></li>
                <li><a href="shop.html">Cửa hàng</a>  </li>
                <li>
                    <a href="#">Danh mục</a>
                    <ul class="mega_menu">
                        <li>
                            @*<a class="mega_title" href="#">Trái cây</a>*@
                            <ul>
                                <li><a href="shop.html">Hoa, trái cây</a></li>
                            </ul>
                        </li>
                        <li>
                            @*<a  href="#">Các loại hạt</a>*@
                            <ul>
                                <li><a href="wishlist.html">Các loại hạt</a></li>
                            </ul>
                        </li>
                        <li>
                            @*<a class="mega_title" href="#">Hải sản</a>*@
                            <ul>
                                <li><a href="about.html">Hải sản</a></li>
                            </ul>
                        </li>
                        <li>
                            @*<a class="mega_title" href="#">Hải sản</a>*@
                            <ul>
                                <li><a href="about.html">Sản phẩm từ gỗ</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Bài viết</a></li>
            </ul>
        </nav>
    </div>
</div>