
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="product_tab_button">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li>
                        <a class=" tav_past " id="home-tab" data-toggle="tab" href="#Description" role="tab"
                           aria-controls="Description" aria-selected="true">Mô tả sản phẩm</a>
                    </li>
                    <li>
                        <a class=" tav_past" id="profile-tab" data-toggle="tab" href="#details" role="tab"
                           aria-controls="details" aria-selected="false">Thông tin chung</a>
                    </li>
                    <li>
                        <a class=" tav_past active" id="contact-tab" data-toggle="tab" href="#Reviews"
                           role="tab" aria-controls="Reviews" aria-selected="false">Đánh giá</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade " id="Description" role="tabpanel">
                    <div class="product-description">
                        <p>
                            Nước Giải Khát Có Gas Wana Hương Yuzu (320ml/lon) với hương thơm đặc trưng của quả
                            yuzu,
                            vị chua thanh, ngọt vừa phải, hòa cùng độ nồng mà không cay, giúp tinh thần sảng
                            khoái,
                            tỉnh táo sau khi uống, thích hợp cho cuộc sống năng động.
                        </p>
                        <p>
                            Ngoài hương vị độc đáo, Quả YUZU còn có nhiều lợi ích cho sức khoẻ
                        <p>
                            Giàu vitamin C và vitamin E , kali, canxi, magiê và đồng. Là sự lựa chọn tuyệt
                            vời cho những người giảm cân.
                        </p>
                        <p>
                            Chứa một số hoạt chất, bao gồm cả yuzunone, có tác dụng chống oxy hóa tiềm năng
                            đối với cơ thể.
                        </p>
                        <p>Tăng cường tâm trạng, giảm viêm và cải thiện sức khỏe não bộ</p>
                        <p>Tăng cường hệ thống miễn dịch Hỗ trợ giảm cân</p>
                        <p>Giảm buồn nôn</p>
                        <p>Giảm nguy cơ mắc các bệnh mãn tính</p>
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="details" role="tabpanel">
                    <div class="product-details">
                        <table id="chi-tiet" cellspacing="0"
                               class="table table-bordered table-detail table-striped">
                            <colgroup>
                                <col style="width: 25%;">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td rel="brand">Thương hiệu</td>
                                    <td class="last">
                                        <a href="http://tiki.vn/thuong-hieu/wana.html?_lc=Vk4wNDQwMDIwMDk%3D">WANA</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td rel="brand_country">Xuất xứ thương hiệu</td>
                                    <td class="last">
                                        Việt Nam
                                    </td>
                                </tr>
                                <tr>
                                    <td rel="thanh_phan">Thành phần</td>
                                    <td class="last">
                                        <ul>
                                            <li>
                                                Thành phần: Nước bão hòa CO2, đường mía, Axit citric, sodium
                                                citrate, Vitamin C, Sucralose (E955), Acesulfam kali (E950),
                                                Hương yuzu tổng hợp.
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td rel="expiry_time">Hạn sử dụng</td>
                                    <td class="last">
                                        18 tháng kể từ ngày sản xuất
                                    </td>
                                </tr>
                                <tr>
                                    <td rel="huong_dan_su_dung">Hướng dẫn sử dụng</td>
                                    <td class="last">
                                        <p>Sử dụng trực tiếp, ngon hơn khi sử dụng lạnh</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td rel="huong_dan_bao_quan">Hướng dẫn bảo quản</td>
                                    <td class="last">
                                        <p>Bảo quản nơi khô ráo thoáng mát, tránh ánh nắng trực tiếp</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td rel="capacity">Dung tích</td>
                                    <td class="last">
                                        320ml/lon
                                    </td>
                                </tr>
                                <tr>
                                    <td rel="sku">SKU</td>
                                    <td class="last">
                                        2836801283346
                                    </td>
                                </tr>
                                <tr>
                                    <td rel="quy_cach_dong_goi">Quy cách đóng gói</td>
                                    <td class="last">
                                        <p>1 lon 320ml</p>
                                        <p>1 lốc 6 lon 320ml</p>
                                        <p>1 khay 24 lon 320ml</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="Reviews" role="tabpanel">
                    <div class="product_comments_block_tab">
                        <div class="comment_clearfix">
                            <div class="comment_author">


                            </div>
                            <div class="comment_author_infos">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="product-customer-box">

                                            <div class="product-customer-content">

                                                <div class="clearfix"></div>
                                                <h3 class="js-customer-h3">Gửi nhận xét của bạn</h3>
                                                <div class="col-6">

                                                    <form action="" method="post" id="addReviewFrm"
                                                          novalidate="novalidate" class="bv-form">
                                                        <button type="submit" class="bv-hidden-submit"
                                                                style="display: none; width: 0px; height: 0px;"></button>
                                                        <input type="hidden" name="entity_pk_value"
                                                               value="22250251" id="entity_pk_value">
                                                        <input type="hidden" name="productset_id" value="145"
                                                               id="productset_id">
                                                        <div class="rate form-group has-feedback"
                                                             id="rating_wrapper">
                                                            <label>1. Đánh giá của bạn về sản phẩm này:</label>
                                                            <div class="star_content clearfix">
                                                                <ul>
                                                                    <li><i class="fa fa-star"></i></li>
                                                                    <li><i class="fa fa-star"></i></li>
                                                                    <li><i class="fa fa-star"></i></li>
                                                                    <li><i class="fa fa-star"></i></li>
                                                                    <li><i class="fa fa-star"></i></li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="title form-group" id="title_wrapper">
                                                            <label for="review_title">
                                                                2. Tiêu đề của nhận
                                                                xét:
                                                            </label>
                                                            <input type="text"
                                                                   placeholder="Nhập tiêu đề nhận xét (không bắt buộc)"
                                                                   name="title" id="review_title"
                                                                   class="form-control input-sm">

                                                        </div>

                                                        <div class="review-content form-group has-feedback">
                                                            <label for="review_detail">
                                                                3. Viết nhận xét của bạn
                                                                vào bên dưới:
                                                            </label>
                                                            <textarea placeholder="Nhận xét của bạn về sản phẩm này"
                                                                      class="form-control" name="detail"
                                                                      id="review_detail" cols="30" rows="10"
                                                                      data-bv-field="detail"></textarea><i class="form-control-feedback"
                                                                                                           data-bv-icon-for="detail"
                                                                                                           style="display: none;"></i>
                                                            <small class="help-block"
                                                                   data-bv-validator="callback"
                                                                   data-bv-for="detail"
                                                                   data-bv-result="NOT_VALIDATED"
                                                                   style="display: none;">
                                                                Nội dung chứa ít nhất 50
                                                                ký tự
                                                            </small>
                                                        </div>

                                                        <div id="imageUploader">
                                                            <div data-reactroot=""
                                                                 class="review-file form-group">
                                                                <input type="hidden" id="imageUploadPath"
                                                                       name="images[][file_path]" value="">
                                                                <input type="file" multiple="" id="fileSelector"
                                                                       accept="image/*" style="display: none;">
                                                                <label for="fileSelector">
                                                                    Thêm hình sản phẩm nếu có (tối đa 5 hình):
                                                                    <span class="button">Chọn hình</span>
                                                                </label>
                                                                <p class="error-wrap"></p>
                                                                <div class="files"></div>
                                                            </div>
                                                        </div>

                                                        <div class="action">
                                                            <div class="word-counter"></div>
                                                            <div class="checkbox" style="display:none;">
                                                                <label>
                                                                    <input id="show_information" type="checkbox"
                                                                           checked="" value="1"> Hiển thị thông tin
                                                                    mua hàng trong phần nhận xét
                                                                </label>
                                                            </div>
                                                            <button type="submit" class="btn btn-default btn-add-review">Gửi nhận xét</button>
                                                        </div>
                                                    </form>

                                                </div>
                                                <div class="col-6">
                                                    <div class="product-detail">
                                                        <div class="image col-5">
                                                            <a href="">
                                                                <img src="assets/img/cart/nav12.jpg"
                                                                     style="width: 250px; height: 250px;" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="info col-7">
                                                            <div class="title">
                                                                Tay Cầm Chơi Game USB Nazar V70
                                                                Trong Suốt - Hàng Nhập Khẩu (Màu ngẫu nhiên)
                                                            </div>
                                                            <div class="item-brand">
                                                                <p>
                                                                    <h6>
                                                                        Thương hiệu:
                                                                        <a target="_blank" href=""
                                                                           style="color:  #007ff0;">Nazar</a>
                                                                    </h6>
                                                                    <div class="star_content clearfix">
                                                                        <ul>
                                                                            <li>
                                                                                <i class="fa fa-star"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i class="fa fa-star"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i class="fa fa-star"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i class="fa fa-star"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i class="fa fa-star"></i>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <a id="reiews-url" href="">
                                                                        (1 đánh giá)
                                                                    </a>
                                                                </p>

                                                            </div>

                                                        </div>
                                                    </div>
                                                    <ul style="float: left;">
                                                        <li>
                                                            Quý khách có thắc mắc về sản phẩm hoặc dịch vụ của
                                                            Nông sản Việt Nam? Quý khách đang muốn khiếu nại
                                                            hay phản hồi
                                                            về đơn hàng đã mua?
                                                        </li>
                                                        <li>
                                                            • Tham khảo thông tin thêm tại
                                                            <a title="Thông tin hỗ trợ"
                                                               href="http://hotro.tiki.vn/"
                                                               target="_blank">Thông tin hỗ trợ</a>.
                                                        </li>
                                                        <li>
                                                            • Liên hệ hotline
                                                            <a href="tel:1900-6035">1900-6035</a>
                                                            (1,000đ/phút), hoặc gửi thông tin về email <a href="mailto:hotro@tiki.vn">nongsanvn20@gmail.com</a>
                                                            để
                                                            được hỗ trợ ngay.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="blog_replay_wrapper">
                                    <!-- <h4>HAVE 2 COMMENTS</h4> -->
                                    <div class="single_blog_replay mb-50">
                                        <div class="replay_img">
                                            <a href="#"><img src="assets/img/cart/14.jpg" alt=""></a>
                                        </div>
                                        <div class="replay-info-wrapper">
                                            <div class="replay-info">
                                                <div class="replay-name-date">
                                                    <h4>
                                                        <a href="#">Tayeb rayed</a>
                                                        <div class="comments_note clearfix">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <span>Rất hài lòng !!!</span>
                                                        </div>
                                                    </h4>

                                                    <span>July 15, 2016 at 2:39 am</span>
                                                </div>
                                                <div class="replay-btn">
                                                    <a href="#">Reply</a>
                                                </div>
                                            </div>
                                            <p>
                                                Exercitation photo booth stumptown tote bag Banksy, elit small
                                                batch freegan sed.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="single_blog_replay two mb-50">
                                        <div class="replay_img">
                                            <a href="#"><img src="assets/img/cart/15.jpg" alt=""></a>
                                        </div>
                                        <div class="replay-info-wrapper">
                                            <div class="replay-info">
                                                <div class="replay-name-date">
                                                    <h4><a href="#">JOHN NGUYEN</a></h4>
                                                    <span>July 15, 2016 at 2:39 am</span>
                                                </div>
                                                <div class="replay-btn">
                                                    <a href="#">Reply</a>
                                                </div>
                                            </div>
                                            <p>
                                                Exercitation photo booth stumptown tote bag Banksy, elit small
                                                batch freegan sed.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="single_blog_replay">
                                        <div class="replay_img">
                                            <a href="#"><img src="assets/img/cart/16.jpg" alt=""></a>
                                        </div>
                                        <div class="replay-info-wrapper">
                                            <div class="replay-info">
                                                <div class="replay-name-date">
                                                    <h4><a href="#">JOHN NGUYEN</a></h4>
                                                    <span>July 15, 2016 at 2:39 am</span>
                                                </div>
                                                <div class="replay-btn">
                                                    <a href="#">Reply</a>
                                                </div>
                                            </div>
                                            <p>
                                                Exercitation photo booth stumptown tote bag Banksy, elit small
                                                batch freegan sed.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product page tab end -->
<!--Features product area-->
<div class="features_product pt-90">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section_title text-left">
                    <h3>Sản phẩm bạn đã xem</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="features_product_active owl-carousel">

                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Cheese Butter Burger</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$75.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <span class="discount_price">-5%</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/3.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Sprite Yoga Straps1</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$65.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/4.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Wayfarer Messenger Bag</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$57.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/5.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Impulse Duffle</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$95.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/6.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Fusce nec facilisi</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$88.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <span class="discount_price">-5%</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/7.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Chaz Kangeroo Hoodie3</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$99.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/8.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Donec sem tellus</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$80.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/9.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Healthy Melt</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$90.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <span class="discount_price">-5%</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/10.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Mushroom Burger</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$45.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Features product end-->
<!--Features product area-->
<div class="features_product pt-90">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section_title text-left">
                    <h3>Sản phẩm cùng loại</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="features_product_active owl-carousel">

                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Cheese Butter Burger</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$75.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <span class="discount_price">-5%</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/3.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Sprite Yoga Straps1</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$65.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/4.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Wayfarer Messenger Bag</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$57.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/5.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Impulse Duffle</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$95.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/6.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Fusce nec facilisi</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$88.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <span class="discount_price">-5%</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/7.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Chaz Kangeroo Hoodie3</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$99.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/8.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Donec sem tellus</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$80.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/9.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Healthy Melt</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$90.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <span class="discount_price">-5%</span>
                            <div class="product_img">
                                <a href="#">
                                    <img src="assets/img/product/10.jpg" alt="">
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <h4><a href="product-details.html">Mushroom Burger</a></h4>
                                    </div>
                                    <div class="product_price">
                                        <p>$45.66</p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li>
                                            <a class="cart-fore" href="#" data-toggle="modal"
                                               data-target="#my_modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"><i class="ion-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Features product end-->
