
@{
    ViewBag.Title = "404!!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Maincontent  -->
<section class="main-content-area error_pages">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="error-wrapper text-center">
                    <div class="error-text">
                        @*<img src="~/Asset/Client/img/error.jpg" style="width:616px; height:347px"/>*@
                        <h2>404</h2>
                        <h5>Trang không tồn tại.</h5>
                        <p>Chúng tôi rất tiếc về sự bất tiện này. Bạn vui lòng thử lại sau.</p>
                    </div>
                    @*<div class="search-error product-search">
                            <form action="#">
                                <input type="text" class="input-text" placeholder="Search entire store here...">
                                <button type="submit" class="submit-btn">Search</button>
                            </form>
                        </div>*@
                    @*<div class="back_home_page">
                            <a href="/">Back to home page</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Maincontent  -->
