
@{
    ViewBag.Title = "Xác nhận E-mail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<!-- Start Maincontent  -->
<section class="main-content-area error_pages">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="error-wrapper text-center">
                    <div class="error-text">
                        <img src="~/Asset/Client/img/mail.jpg"/>
                        @*<h2>404</h2>*@
                        <h5>Hệ thống đã gửi email kích hoạt tài khoản. </h5>
                        <p>Bạn vui lòng truy cập email của bạn để thực hiện bước cuối cùng đăng ký tài khoản.</p>
                    </div>
                    @*<div class="search-error product-search">
                        <form action="#">
                            <input type="text" class="input-text" placeholder="Search entire store here...">
                            <button type="submit" class="submit-btn">Search</button>
                        </form>
                    </div>*@
                    @*<div class="back_home_page">
                        <a href="/">Back to home page</a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Maincontent  -->