
@{
    ViewBag.Title = "Đăng ký thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Start Maincontent  -->
<section class="main-content-area error_pages">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="error-wrapper text-center">
                    <div class="error-text">
                        <img src="~/Asset/Client/img/success.jpg" style="width:616px; height:347px" />
                        @*<h2>404</h2>*@
                        <h5>Đăng ký tài khoản thành công. </h5>
                        <p>Từ giờ bạn có thể đặt mua bất cứ mặt hàng nào trên website.</p>
                    </div>
                    @*<div class="search-error product-search">
                            <form action="#">
                                <input type="text" class="input-text" placeholder="Search entire store here...">
                                <button type="submit" class="submit-btn">Search</button>
                            </form>
                        </div>*@
                    <div class="back_home_page">
                            <a href="/">Mua hàng nào</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Maincontent  -->
