
@{
    ViewBag.Title = "SendMailChangePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Start Maincontent  -->
<section class="main-content-area error_pages">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="error-wrapper text-center">
                    <div class="error-text">
                        <img src="~/Asset/Client/img/mail.jpg" />
                        @*<h2>404</h2>*@
                        <h5>Hệ thống đã gửi email xác nhận quên mật khẩu. </h5>
                        <p>Bạn vui lòng truy cập email của bạn để xác nhận thay đổi mật khẩu</p>
                    </div>
                    @*<div class="search-error product-search">
                            <form action="#">
                                <input type="text" class="input-text" placeholder="Search entire store here...">
                                <button type="submit" class="submit-btn">Search</button>
                            </form>
                        </div>*@
                    @*<div class="back_home_page">
                            <a href="/">Back to home page</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Maincontent  -->
